<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- La plantilla de Flutter declara este permiso solo en los manifiestos de
         depuración y perfil, para el servicio de recarga en caliente. Una
         aplicación que habla con una API lo necesita también en release, y sin
         esta línea el build de producción se queda sin red mientras el de
         depuración funciona: un fallo que no aparece hasta la tienda. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- El estado de la red lo consulta connectivity_plus para saber si vale la
         pena intentar sincronizar. Solo lee si hay interfaz levantada; que la
         haya no implica que el servidor conteste, y eso lo decide el tráfico. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="Araguaney"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Dónde entrega Firebase los avisos que no traen canal propio. El
             identificador es el mismo que crea MainActivity al arrancar; si se
             cambia uno hay que cambiar el otro, o los avisos vuelven al canal
             de reserva y dejan de sonar. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="araguaney_operaciones" />

        <!-- Sin esto Android usa el icono de la aplicación, que es a color, y
             lo pinta como un cuadrado blanco en la barra de estado. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_accent" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
